body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

header{
	padding: 20px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	background-color: #333;
}
header img{
	width: 20rem;
	height: auto;
}

#footer-general{
	background-color: #333;
	width: 100%;
}
#footer-general a{
	text-decoration: none;
	color: #ff6b10;
}

footer a{
	text-decoration: none;
	color: #333;
}

a{
	text-decoration: none;
	color: #ff6b10;
}

.nav-link{
	color: #333;
}

h1
{
    color: white;
}

.tarjeta
{
	display: block;
	margin: 0 auto;
	width: 20rem !important;
	height: 20rem !important;
}

/*RESERVAS*/
#top-reservas a
{
	text-decoration: underline;
	font-size: 0.7rem;
}
#top-reservas i
{
	margin-top: 1rem;
	font-size: 2rem;
	color: #ff6b10;
}
#top-reservas h2
{
	margin-top: 0;
	margin-bottom: 1rem;
	color: black;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}
#top-reservas button
{
	margin-bottom: 2rem;
}
.card-title
{
	font-size: 2rem;
}


/*RESERVAR*/
.reservar2{
	margin-bottom: 20rem;
	max-width: 25rem;
}
.reservar input
{
	width: 18rem;
}


/*LOGIN*/
#signin-card
{
	border-radius: 15px;
	box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px, rgb(0 0 0 / 10%) 0px 2px 4px 0px, rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
}

#input-card
{
	box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px, rgb(0 0 0 / 10%) 0px 2px 4px 0px, rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
}

#card-user{
    background-color: #fff;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 5px;
}